asgiref==3.8.1
cffi==1.16.0
cryptography==43.0.0
Django==5.0.7
django-allauth==64.0.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
pillow==10.4.0
psycopg==3.2.1
pycparser==2.22
PyJWT==2.9.0
python-dotenv==1.0.1
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
